.hmc {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-hero {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.service {
    flex-basis: 31%;
}