.spl-section {
    display: flex;
    background: url(/src/assets//IMG_8383-1.jpeg);
  color: white;
  padding: 60px 20px;
  text-align: center;
  width: 100%;
  height: 50vh;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.spl-container {
padding-top: 7em;
  max-width: 800px;
  margin: 0 auto;
}

.spl-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.spl-container p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}
