.mouse-follower {
  position: fixed;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, rgb(23, 150, 150) 0%, rgb(78, 96, 78) 60%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: hard-light;
  border-radius: 50%;
  z-index: 9999;
}