nav {
    width: 100%;
    /* background: #333; */
    color: white;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

.logo {
    width: 180px;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.8;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    padding-right: 1em;
    padding-top: 0.5em;
    cursor: pointer;
}

nav ul li:hover {
    cursor: pointer;
    opacity: 0.8;
}