/* Root styles */
.navbar {
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  animation: fadeOut 0.2s;
}

.logo {
  padding: 1em;
  width: 20%;
  height: auto;
}

/* Nav links container */
.nav-links {
    margin: 2em;
  display: flex;
  align-items: center;
  gap: 4em;
}

.nav-links li {
  list-style: none;
  font-size: 15px;
  cursor: pointer;
  white-space: nowrap;
}

.nav-links li:hover {
  opacity: 0.8;
}


/* Hamburger icon */
.hamburger {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  padding: 10px;
  z-index: 1000000;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* Fade animations */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

/* Sticky nav */
.dark-nav {
  color: white;
  background: #3a4450;
  filter: drop-shadow(0px 2px 10px rgb(27, 27, 27));
  animation: fadeIn 0.2s ease-in;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 220px;
    background: #1e2a38;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav-links.open {
    transform: translateX(0);
    padding: 2em;
  }

  .hamburger {
    display: flex;
  }

  .nav-links a {
    width: 100%;
    padding: 10px 0;
  }

  .logo {
    width: 40%;
  }
}

@media (max-width: 1027px) {
    .logo {
        width: 52%;
        padding-bottom: 0.5em;
    }
}
