.container{
	max-width: auto;
	margin: auto;
  height: auto;
}

.logo-col .logo {
  padding-top: 2em;
  padding-bottom: 3em;
  display: flex;
  margin: auto;
  width: 12%;
}

.row{
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4em;
}
ul{
	list-style: none;
  text-align: center;
}
li {
  color: white;
  line-height: 1.5em;
}
li:hover {
  opacity: .8;
  transition: 0.2s ease;
}

.footer{
  background:#1e2a38;
  padding: 1em 1em;
}
.footer-col{
  width: 25%;
  padding: 1em;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 1px;
	font-weight: 500;
	position: relative;
  justify-self: center;
  line-height: 1.5em;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
  justify-self: center;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.5s ease;
}

.footer-col .social-links {
  padding-top: 1em;
  justify-self: center;
  padding-bottom: 5em; 
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #3634344d;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  color: white;
}

/*responsive*/

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }

  .logo-col .logo {
	width: 50%;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}

.p { 
  align-items: center;
}