@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

body {
 background: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
  
}

.container {
 padding: 1em;
}

.btn {
  background: white;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 0px;
  cursor: pointer;
  border: 0;
  outline: 0;
}